<h2>Please Sign In or 
<%= link_to "Sign Up", signup_path, :class => 'link_sign_up' %>
 if a new customer!</h2>
<%= form_for(:session, :url => sessions_path) do |f| %>
<fieldset class="warning_login">
     <legend class="georgia">Please Sign In</legend>
   <table>
    <tr>
    <td> <%= f.label :email, "Email:" %></td>
   </tr>
   <tr>
    <td> <%= f.text_field :email, :size => 40 %></td>
</tr>
    <tr>
      <td> <%= f.label :password, "Password:" %></td>
       </tr>
       <tr>
      <td> <%= f.password_field :password, :size => 40 %></td>
</tr>
<tr>
       <td> <%= f.submit "Sign In" %></td>
   </tr>    
    </table>
    <% end %>
    </fieldset>












     

