<h2>Please Sign In or 
<%= link_to "Sign Up", signup_path, :class => 'link_sign_up' %>
 if a new customer!</h2>
<%= form_for(:session, :url => sessions_path) do |f| %>
<fieldset class="warning_login">
     <legend class="georgia">Please Sign In</legend>
     <div>
     <%= f.label :email %>:<br />
     <%= f.text_field :email, :size => 40 %>
      </div>

      <div>
       <%= f.label :password %>:<br />
       <%= f.password_field :password, :size => 40 %>
       </div>

       <div>
        <%= f.submit "Sign In" %>
        </div>
       
    <% end %>
    </fieldset>












     

