<%= form_for(:session, :url => sessions_path) do |f| %>
   <fieldset>
     <legend>Please Log In</legend>

     <div>
     <%= f.label :email %>:
     <%= f.text_field :email, :size => 40 %>
      </div>

      <div>
       <%= f.label :password %>:
       <%= f.password_field :password, :size => 40 %>
       </div>

       <div>
        <%= f.submit "Sign In" %>
        </div>
       
        </fieldset>
    <% end %>
    </div>












     

