<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div>
      <p><%= pluralize(@user.errors.count, "error") %> prohibited you from being saved:</p>
     
     <!-- <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    -->
    </div>
  <% end %>

<fieldset class="warning_login">
 <legend class="georgia">Please Enter Your details</legend>
  <div>
    <%= f.label :name %>:<br />
    <%= f.text_field :name, :size => 40 %>
  </div>
 
 <div>
   <%= f.label :email %>:<br />
   <%= f.text_field :email, :size => 40 %>
 </div>

  <div>
    <%= f.label :password %>:<br />
    <%= f.password_field :password, :size => 40 %>
  </div>


  <div>
    <%= f.label :password_confirmation, 'Confirm' %>:<br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>

  <div>
    <%= f.submit "Sign Up" %>
  </div>

<% end %>
</fieldset>


