<h2>Your cart:</h2>
<table class="cart">
<%= render(cart.line_items) %>
<tr>
<td>Setup Fee</td>
<td><%= number_to_currency(0)%></td>
</tr>
<tr>
<td class="tbl_right">Total:</td> 
<td><%= number_to_currency(cart.total_price) %></td>
</tr> 
<tr>
<td></td>
<td><%= button_to "Checkout", thanks_path, :method => :get  %><%= button_to 'Empty cart', cart, :method => :delete,
:confirm => 'Are you sure?' %></td>
</tr>
</table>
