<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
<%= f.label :id %> 
<%= f.text_field :id, :size => 20 %>
<% fields_for @cart.line_items do |l| %>
<%= l.text_field :id, :size => 20 %>
<% end %>
</div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
