<%= form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <br />
  <div>  
    <%= f.label :period, "Select a time period:" %><br />
    <%= f.select :period, LineItem::PERIOD_TYPES %>
  </div>
<br />
<div>
<%= f.radio_button(:domain, "without", :checked => true) %>
<%= f.label :domain, "Without domain" %><br /><br />
<%= f.radio_button(:domain, "registered") %>
<%= f.label :domain, "I do have a registered domain" %><br />
<%= f.radio_button(:domain, "new") %>
<%= f.label :domain, "New domain" %>
</div>
 <div>
  <%= f.label :domain_name, "Please enter the domain name" %><br />
 www. <%= f.text_field :domain_name %>
 </div> <br />
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>
