<!DOCTYPE html>
<html>
<head>
  <title>Hosting with Superfranklin</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
<div class="container">
  <div id="menu_top"> 
<%= link_to_unless_current('HOSTING', root_path) {|link|
content_tag 'span', link, :class => 'current'} %>|
<%= link_to_unless_current('DOMAIN', carts_path) {|link|
content_tag 'span', link, :class => 'current'} %>|
<%= link_to_unless_current('BILLING', line_items_path) {|link|
content_tag 'span', link, :class => 'current'} %>|
<%= link_to_unless_current('SUPPORT', products_path) {|link|
content_tag 'span', link, :class => 'current'} %>
</div> 
 
  <div id="banner">
     <%= @page_title || "* Superfranklin *"  %>
  </div>

<div id="main">
 <% flash.each do |key, value| %>
   <div class="flash <%= key %>"><%= value %>
   </div>
   <% end %> 
<%= yield %>
</div>


  <div id="columns">
   <div id="side">
  
    <div id="side1">
     <br />
   <% if signed_in? %>
   <li>
   <%= link_to "Sign out", signout_path, :method => :delete  %>
   </li>
  <% else %>
   <li>
    <%= link_to "Sign in", signin_path  %>
   </li>
   <% end %>
    </div>

    <div id="side2">
    <a href="http://www....">Home</a><br />
          <a href="http://www..../faq">Questions</a><br />
                <a href="http://www..../news">News</a><br />
                      <a href="http://www..../contact">Contact</a><br />
                        <ul class="hmenu">
                              </ul>
                              <% if signed_in?  %>
    <%= link_to "Profile", current_user %>
    <% end %>
    </div>
 
 </div>

    </div>
<div id="menu_bottom">
<a href="...">HOSTING</a>
 <a href="...">DOMAIN</a>
  <a href="...">BILLING</a>
   <a href="...">SUPPORT</a>
  </div>

<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
