<!DOCTYPE html>
<html>
<head>
  <title>Hosting with Superfranklin</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
<div class="container">
  <div id="menu_top"> 
<%= link_to_unless_current('HOSTING', root_path) {|link|
content_tag 'span', link, :class => 'current'} %>|
<%= link_to_unless_current('DOMAIN', carts_path) {|link|
content_tag 'span', link, :class => 'current'} %>|
<%= link_to_unless_current('BILLING', line_items_path) {|link|
content_tag 'span', link, :class => 'current'} %>|
<%= link_to_unless_current('SUPPORT', products_path) {|link|
content_tag 'span', link, :class => 'current'} %>
</div> 
 
  <div id="banner">
     <%= @page_title || "* Superfranklin *"  %>
  </div>

<div id="main">
<%= yield %>
</div>


  <div id="columns">
   <div id="side">
  
    <div id="side1">
    <% if @cart %>
     <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
        <%= render @cart %>
     <% end %>
     <% end %>
      
      <%= form_for("user", :url => user_session_path, :html => { :class => "signin_form"}) do |f| %>
      Email:<%= f.text_field :email %>
      Password:<%= f.password_field :password %><br />
      <%= f.check_box :remember_me %><br />
      <%= f.label :remember_me %><br />
      <%= f.submit 'Sign in' %><br />
      <%= link_to "Forgot your password?", new_password_path('user') %>
      <% end %>
    </div>

    <div id="side2">
    <a href="http://www....">Home</a><br />
          <a href="http://www..../faq">Questions</a><br />
                <a href="http://www..../news">News</a><br />
                      <a href="http://www..../contact">Contact</a><br />
                        <ul class="hmenu">
                          <%= render 'devise/menu/registration_items' %>
                            <%= render 'devise/menu/login_items' %>
                              </ul>
    </div>
 
 </div>

    </div>
<div id="menu_bottom">
<a href="...">HOSTING</a>
 <a href="...">DOMAIN</a>
  <a href="...">BILLING</a>
   <a href="...">SUPPORT</a>
  </div>
</div>
</body>
</html>
